footer .logo {
  display: none;
}
footer .logo svg {
  display: block;
  width: 143px;
  height: 18px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer li {
  margin-right: 15px;
  margin-bottom: 15px;
}
footer li:last-child {
  margin-right: 0;
}

@media (min-width: 960px) {
  footer {
    flex-direction: row;
    align-content: space-between;
  }
  footer li {
    margin-bottom: 0;
  }
  footer .logo {
    display: inherit;
  }
}
