footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: var(--color-white);
}
footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer li {
  margin-right: 15px;
  margin-bottom: 15px;
}
footer li:last-child {
  margin-right: 0;
}
footer li a:hover svg,
footer li a:hover svg path {
  background: var(--color-blue);
  color: var(--color-white);
  border-radius: 8px;
  stroke: var(--color-white);
  fill: var(--color-blue);
}
footer .logo {
  display: none;
}
footer .logo svg {
  display: block;
  width: 143px;
  height: 18px;
}

.icon-heart {
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.hide-on-desktop {
  display: block;
}

@media (min-width: 960px) {
  footer {
    flex-direction: row;
    align-content: space-between;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  footer li {
    margin-bottom: 0;
  }
  footer .logo {
    display: inherit;
  }
  .hide-on-desktop {
    display: none;
  }
}
