.hello {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.hello a {
  text-decoration: none;
  color: var(--color-black);
}

.hello-graphics {
  position: relative;
}
.hello-picture {
  height: 314px;
  object-fit: contain;
}
.hello-a {
  position: absolute;
  height: 314px;
  top: 0;
  right: 0;
}
.hello-a-bottom-line {
  position: absolute;
  height: 314px;
  top: 0;
  right: 0;
}

@media (min-width: 960px) {
  .hello {
    padding-bottom: 40px;
  }
  .hello-content {
    margin-top: 13rem;
    margin-bottom: 13rem;
  }
  .hello-graphics {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .hello-picture {
    position: absolute;
    height: 702px;
    width: 370px;
    left: 210px;
    top: 6px;
    right: 0;
  }
  .hello-a {
    position: absolute;
    top: 9px;
    right: -162px;
    width: 740px;
    height: 698px;
  }
  .hello-a-bottom-line {
    position: absolute;
    right: calc(-57px);
    top: 3px;
    width: 740px;
    height: 710px;
  }
}
