.lets-talk {
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.form-submit-button {
  margin-top: 0.5rem;
}

.MuiCircularProgress-root {
  display: block !important;
  margin: 5rem auto 5rem auto;
  opacity: 1;
}
