.magic-video {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
}

.magic-video video {
  position: relative;
  background-size: cover;
  width: 100%;
  top: -100px;
  transform: scale(1.4);
}
