.magic-video {
  display: none;
  height: 100vh;
  max-height: 100vh;
  scroll-snap-align: start;
}

@media (min-width: 960px) {
  .magic-video {
    display: block;
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
  }
}
