section.project {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.project-picture-container {
}
.project-picture-container img {
  max-width: 100%;
  margin-top: 4rem;
}

.flex-order-1 {
  order: 1;
}
.flex-order-2 {
  order: 2;
}

section.project-vevo-music {
  padding-bottom: 0rem;
}

img.project-google-duo-picture {
  max-width: 100%;
  left: 0;
  position: relative;
}
img.project-xfinity-stream-picture {
  max-width: 100%;
  left: 0;
  position: relative;
}
img.project-vevo-music-picture {
  max-width: 100%;
  left: 0;
  position: relative;
}

@media (min-width: 960px) {
  section.project {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .flex-order-1 {
    order: 0;
  }
  .flex-order-2 {
    order: 0;
  }

  img.project-google-duo-picture {
    max-width: 110%;
    left: -10%;
  }
  img.project-xfinity-stream-picture {
    max-width: 120%;
  }
  img.project-vevo-music-picture {
  }
}
